{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>

        $( document ).ready(function() {
            $.ajax({
                method : "GET",
                url : '{% url "lab-7:daftar" %}',
                dataType : 'json',
                success : function (response) {
                    list = response['list'];
                    if(list.length > 0)
                    {
                      for(i = 0; i < list.length; i++)
                      {
                        friend = list[i];
                        id = friend.id;
                        html = '<div id=' + id + '>' +
                               '<a class="list-group-item clearfix">' +
                               friend.friend_name + " ("+ friend.npm +")" +
                               '</a>' +
                               '<button onclick=deleteFriend('+id+') id=' + id + '>Delete</button>' +
                               '</div>';

                        $('#friend-list').append(html);
                      }
                    }
                    else
                    {
                      html = '<div class="alert alert-danger text-center">' +
                          '<strong>Opps!</strong> Tidak ada teman' +
                      '</div>';
                        $('#friend-list').append(html);
                    }
                },
                error : function(error){
                    alert("error");
                }
            });
        });
        var deleteFriend = function(id){
          $.ajax({
            method : 'POST',
            url : "{% url 'lab-7:delete-friend' %}",
            data : {'id' : id},
            dataType: 'json',
            success : function(response){
              $('#' + response.id).hide();
            },
            error: function(error){
              alert("error");
            }
          });
        };

    </script>
{% endblock %}
