{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <br>
    <hr>
    <h1 style="color:red"> {{ movie.title}} ({{ movie.year }}) </h1>
    <img src="{{ movie.poster }}">
    <h3>Plot:</h3>
    <h4>{{ movie.plot }}</h4>
    <h3>Director by:</h3>
    <h4>{{ movie.director }}</h4>
    <h3>Writer by:</h3>
    <h4>{{ movie.writer }}</h4>
    <h3>Actors/Actress:</h3>
    <h4>{{ movie.actors }}</h4>
    <h3>Awards:</h3>
    <h4>{{ movie.awards }}</h4>
    <h3>Ratings:</h3>
    {% for ratings in movie.ratings %}
    <h4>{{ ratings.Source }} : {{ ratings.Value }}</h4>
    {% endfor %}
    <h4>IMDB : {{ movie.imdbrating }}</h4>
    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
{% endblock %}

{% block script %}
<script>
  $(".navbar-header").append('<a style="margin: 5px;" href="{% url "lab-10:movie_list" %}" class="btn btn-primary"> Daftar Movie </a>');
  $(".navbar-header").append('<a style="margin: 5px;" href="{% url "lab-10:list_watch_later" %}" class="btn btn-warning"> Daftar Watch Later </a>');
  $(".navbar-header").append('<a style="margin: 5px;" href="{% url "lab-10:list_watched" %}" class="btn btn-primary"> Daftar Watched </a>');
</script>
{% endblock %}
