{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1 style="color: #008080">Portofolio</h1>
    <img src = "https://drive.google.com/uc?id=0B6whYMjqhHOqamFOYXZmUDc2ZDQ" style="border-radius: 100%" width="150" height="150" alt=""/>
    <hr/>
    <section name="bio">
        <h2 style="color: #008080">Bio</h2>
        <p style="color : #458b74">
            {{content}}
        </p>
    </section>
    <hr/>
    <section name="about_me">
        <h2 style="color: #008080">List</h2>
        <ul>
            {% for ii in about_me %}
            <li style="color : #458b74"> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <section name="form">
        <h2 style="color: #008080">Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}
