<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href='{% url "lab-7:index" %}'>Home</a>
      <a class="navbar-brand" href='{% url "lab-7:get-friend-list" %}'>Daftar Teman</a>
    </div>
  </div>
</nav>
